
estudosJava/pom.xml
estudosJava/target/classes/arrays/lerNumeros.class
estudosJava/target/classes/exerciciosMatematica/gastoDeCombustivel.class
*.class
estudosJava/target/test-classes/.netbeans_automatic_build
estudosJava/target/classes/arrays/lerNome.class
*.class
*.class
*.class
*.lst
*.lst
estudosJava/src/main/java/teste.java
estudosJava/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
estudosJava/target/classes/.netbeans_automatic_build
